body {
  background-image: url('images/optimized_background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff; /* Белый цвет текста для контраста с фоном */
}

main, header, section {
  background-color: rgba(0, 0, 0, 0.55);
  padding: 1rem;           /* Без пробела между 1 и rem */
  border-radius: 12px;     /* Без пробела между 12 и px */
}
